@(storyForm: Form[model.Story], projectId: Long)(implicit flash: Flash, lang: Lang)
@import helper._

<div class="large-12 columns">
@form(routes.StoryController.save(projectId), 'class->"custom customForm") {
<div class="row collapse">
    <input type="hidden" name="projectId" value='@projectId'>
    <div class="large-6 small-4 columns">
        @helper.input(storyForm("title")) {(id, name, value, args) =>
        @if(value.equals("")){
            <input type="text" name="title" placeholder="@Messages("tagPlaceholder")" >
        }else{
            <input type="text" name="title" value="@value">
        }
        }
    </div>
    <div class="large-6 small-4 columns">
        @helper.input(storyForm("description")) {(id, name, value, args) =>
        @if(value.equals("")){
        <input type="text" name="description" placeholder="@Messages("tagPlaceholder")" >
        }else{
        <input type="text" name="description" value="@value">
        }
        }
    </div>
    <div class="large-2 small-2 columns customDropdown">
        <select id="customDropdown" name="storyType" class="small">
            @helper.input(storyForm("storyType")) { (id, name, value, args) =>
                @for(value <- model.StoryType.values) {
                    <option value="@value.toString">@Messages(value.toString)</option>
                }
            }

        </select>
    </div>
    <div class="large-1 small-1 columns">
        <button class="small button">@Messages("create")</button>
    </div>
</div>
}
</div>
<a class="close-reveal-modal">&#215;</a>