@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/foundation.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" >
        <script src="@routes.Assets.at("javascripts/vendor/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/modernizr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.topbar.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.dropdown.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/foundation/foundation.reveal.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <script>
            $(document).foundation();
        </script>

        <div class="reveal-modal-bg" style="display: none"></div>
    </body>
</html>