@(title: String, projects: List[model.Project], currentProject: Option[model.Project])(content: Html)
@head(title){
<!-- Header and Nav -->
<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="@routes.Application.index">@title</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            @if(!currentProject.isDefined){
                <li class="has-dropdown">
                    <a class="active" href="#">@Messages("project")</a>
                    <ul class="dropdown">
                        <li><a href="@routes.ProjectController.add" data-reveal-ajax="true" data-reveal-id="formModal" data-reveal>@Messages("create")</a></li>
                        <li><a href="@routes.ProjectController.list" class="">@Messages("viewAll")</a></li>
                        <li><label>@Messages("project")</label></li>
                        @for(project <- projects){
                            <li><a href="@routes.ProjectController.get(project.id)" class="">@project.code</a></li>
                        }
                    </ul>
                </li>
            }else{
                <li class="has-dropdown">
                    <a class="active" href="#"><img width="30" height="30" src="@currentProject.get.logoURL" /> @currentProject.get.code</a>
                    <ul class="dropdown">
                        <li><a href="@routes.ProjectController.add" data-reveal-ajax="true" data-reveal-id="formModal" data-reveal>@Messages("create")</a></li>
                        <li><a href="@routes.ProjectController.list" class="">@Messages("viewAll")</a></li>
                        <li><label>@Messages("project")</label></li>
                        @for(project <- projects){
                        <li><a href="@routes.ProjectController.get(project.id)" class="">@project.code</a></li>
                        }
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a class="active" href="#">@Messages("stories")</a>
                    <ul class="dropdown">
                        <li><label>@Messages("stories")</label></li>
                        <li><a href="@routes.StoryController.add(currentProject.get.id)" data-reveal-ajax="true" data-reveal-id="formModal" data-reveal>@Messages("add")</a></li>
                        <li><a href="@routes.ProjectController.get(currentProject.get.id)" class="">@Messages("viewAll")</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@routes.ProjectController.getStoryboard(currentProject.get.id)">@Messages("storyboard")</a>
                </li>
                <li class="divider"></li>
            }
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">

        </ul>
    </section>
</nav>
</div>


<!-- End Header and Nav -->

<!-- Main Grid Section -->
@content

<!-- End Grid Section -->



<!-- Footer -->

<footer class="row">
    <hr />
    <div class="large-12 columns">

        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="https://github.com/einevea/eKanban">Git</a></li>
                    <li><a href="http://uk.linkedin.com/in/einevea/">Daniel Conde Garcia</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Reveal Modals begin -->
<div id="formModal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals end -->
}