@(message: String, projects: List[model.Project], project: model.Project)
@import helper._

@main("eKanban", projects, Some(project)) {

<div class="row full-width">
    <div class="large-12 columns">
        <div class="row">
            @for(phase <- project.phases){
            <div id="phase_@phase.id" class="large-2 small-6 columns" ondrop="drop(event, 'phase_@phase.id')" ondragover="allowDrop(event)">
                <h4>@phase.name</h4><hr>
                @for(story <- project.storiesByPhase(phase)){
                <div class="row note" id="story_@story.id" draggable="true" ondragstart="drag(event)">
                    <div class="large-12 columns">
                       <a href="@routes.StoryController.get(project.id, story.id)">@story.title</a>
                    </div>
                </div>
                }
            </div>
            }

        </div>
    </div>
</div>



}
