@(message: String, projects: List[model.Project], project: model.Project)
@import helper._

@main("eKanban", projects, Some(project)) {

<div class="row full-width">
    <div class="large-12 columns">
        <div class="row">
            @for(phase <- project.phases){
            <div id="phase_@phase.id" class="large-2 small-6 columns equalheight" ondrop="drop(event, @project.id, @phase.id)" ondragover="allowDrop(event)">

                <hr><h4>@phase.name</h4><hr>
                @for(story <- project.storiesByPhase(phase)){
                <div class="row note" id="story_@story.id" draggable="true" ondragstart="drag(event, @story.id)">
                    <div class="large-12 columns">

                       <h6><img width="17.5" height="25.75" src="/assets/images/@story.storyType.url" /><a href="@routes.StoryController.get(project.id, story.id)">@project.code - @story.id</a></h6>
                       <p>@story.title</p>
                    </div>
                </div>
                }
            </div>
            }

        </div>
    </div>
</div>



}
